.expense-list-dialog-container{
    max-height: 70vh;

    .header{
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        .title{
            opacity: 0.5;
            font-weight: bold;
            flex: 1;
        }

    }

    .total{
        display: flex;
        align-items: center;
        font-weight: bold;
        
        .title{
            margin-right: 8px;
        }
        .amount{

        }
    }

    ::ng-deep{
        .expense-list{
            // padding-bottom: 24px;
        }
    }
}