.expense-list-dialog-container {
  max-height: 70vh;
}
.expense-list-dialog-container .header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.expense-list-dialog-container .header .title {
  opacity: 0.5;
  font-weight: bold;
  flex: 1;
}
.expense-list-dialog-container .total {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.expense-list-dialog-container .total .title {
  margin-right: 8px;
}
