@import "../../../variables";

.header-component-container{
    height: 40px;
    width:100%;
    background: @app-header-color;
    font-family: 'Roboto-Regular';

    ::ng-deep{
        *{
            color: #efefef;
        }
    }
}