.header-component-container{
    height: 40px;
    width:100%;
    background: white;
    border-bottom: 1px solid #c5c5c5;
    font-family: 'Roboto-Regular';

    display: flex;
    align-items: center;
    justify-content: center;
}