<div class="add-category-dialog-container">
    <h3 mat-dialog-title>Add a new Category</h3>
    
    <form class="expense-form" [formGroup]="categoryForm" autocomplete="off" (submit)="createCategory()"
      #formDirective="ngForm">
    
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Category name</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
        <mat-error *ngIf="hasError('name', 'maxlength')">Max. 35 characters allowed</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Color</mat-label>
        <input type="text" matInput formControlName="color">
        <mat-error *ngIf="hasError('color', 'required')">Color is required</mat-error>
        <mat-error *ngIf="hasError('color', 'minlength')">Color must be 6 digits long (HEX)</mat-error>
        <mat-error *ngIf="hasError('color', 'maxlength')">Color must be 6 digits long (HEX)</mat-error>
      </mat-form-field>
    
      <input type="submit" style="display: none;">
    </form>
    
    <div class="submit-form" (click)="createCategory()"  mat-dialog-close>Add</div>
</div>