<div class="add-category-dialog-container">
  <div class="header">
    <h3 mat-dialog-title>{{categoryToEdit? 'Edit Category' : 'Add a new Category'}}</h3>
    <i  class="material-icons" (click)="closeDialog()">close</i>                    
  </div>
    
    <form class="expense-form" [formGroup]="categoryForm" autocomplete="off" (submit)="submit()"
      #formDirective="ngForm">
    
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Category name</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
        <mat-error *ngIf="hasError('name', 'maxlength')">Max. 35 characters allowed</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Color</mat-label>
        <input type="text" matInput formControlName="color">
        <mat-error *ngIf="hasError('color', 'required')">Color is required</mat-error>
        <mat-error *ngIf="hasError('color', 'minlength')">Color must be 6 digits long (HEX)</mat-error>
        <mat-error *ngIf="hasError('color', 'maxlength')">Color must be 6 digits long (HEX)</mat-error>
      </mat-form-field>
    
      <input type="submit" style="display: none;">
    </form>
    
    <div class="submit-form" (click)="submit()"  mat-dialog-close>{{categoryToEdit? 'Save' : 'Add'}}</div>
</div>