<div class="settings-component-container" >

  <div class="submenu-item" routerLink="/settings/recurring" routerLinkActive="active">
    <span>Fixed expenses</span>
    <i class="material-icons" >chevron_right</i>
  </div>

  <div class="submenu-item" routerLink="/settings/groups" routerLinkActive="active">
    <span>Groups</span>
    <i class="material-icons" >chevron_right</i>
  </div>

  <div class="submenu-item" routerLink="/settings/categories" routerLinkActive="active">
    <span>Categories</span>
    <i class="material-icons" >chevron_right</i>
  </div>

  <div class="submenu-item" routerLink="/settings/defaults" routerLinkActive="active">
    <span>Default values</span>
    <i class="material-icons" >chevron_right</i>
  </div>
  

  <!-- FUTURE--->

  
  <div class="submenu-item" routerLink="/settings/general" routerLinkActive="active">
    <span>Tags</span>
    <i class="material-icons" >chevron_right</i>
  </div>

  <div class="submenu-item" routerLink="/settings/general" routerLinkActive="active">
    <span>Currencies</span>
    <i class="material-icons" >chevron_right</i>
  </div>
  
  <div class="submenu-item" routerLink="/settings/general" routerLinkActive="active">
    <span>Features</span>
    <i class="material-icons" >chevron_right</i>
  </div>

  <div class="submenu-item" routerLink="/settings/general" routerLinkActive="active">
    <span>General</span>
    <i class="material-icons" >chevron_right</i>
  </div>

  
  
</div>
