.settings-component-container .submenu-item {
  padding: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
  margin: 0 16px;
}
.settings-component-container .submenu-item i {
  position: absolute;
  right: 8px;
}
