.filter-component-container {
  height: 100%;
  overflow-y: auto;
  padding-top: env(safe-area-inset-top, 0px);
}
.filter-component-container .filter-section {
  padding: 16px;
}
.filter-component-container .filter-section:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.filter-component-container .filter-section.groups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter-component-container .filter-section.groups .multiple {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.filter-component-container .filter-section.groups .multiple .group-filter-item {
  display: flex;
  align-items: flex-end;
}
.filter-component-container .filter-section.groups .multiple .group-filter-item .remove-item {
  margin-left: 16px;
}
.filter-component-container .filter-section.groups .multiple .add-group-filter {
  display: inline-flex;
  padding: 8px;
  box-shadow: 1px 1px 20px 0px #d2d2d2;
}
.filter-component-container .filter-section.groups mat-slide-toggle {
  padding-left: 12px;
}
.filter-component-container .groups-filter,
.filter-component-container .month-filter {
  width: 100%;
}
.filter-component-container .example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}
.filter-component-container .example-radio-button {
  margin: 5px;
}
