<div class="filter-component-container">

  <div class="filter-section">
    Month
      <mat-slide-toggle color="primary" class="example-margin" [checked]="!allDatesSelected"
        (change)="dateChanged($event)">{{allDatesSelected ? "All" : "Specfic"}}</mat-slide-toggle>

    <mat-form-field appearance="standard" class="month-filter" *ngIf="!allDatesSelected">
      <mat-label>Month</mat-label>
      <input type="month" matInput [(ngModel)]="dateSelected">
    </mat-form-field>
  </div>

  <div class="filter-section">
    Groups
    <mat-slide-toggle color="primary" class="example-margin" [checked]="!allGroupsSelected"
      (change)="groupChanged($event)">{{allGroupsSelected ? "All" : "Specfic"}}</mat-slide-toggle>

    <mat-form-field appearance="standard" class="groups-filter" *ngIf="!allGroupsSelected">
      <mat-label>Group</mat-label>
      <select matNativeControl class="group-picker" [(ngModel)]="groupSelected">
        <option value="general">General</option>
        <option *ngFor="let group of groups$ | async" [value]="group.groupName">{{group.groupName}}</option>
      </select>
    </mat-form-field>
  </div>

  <div class="filter-section">
    <label id="example-radio-group-label">Sort by</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="sortMethod">
      <mat-radio-button color="primary" class="example-radio-button" *ngFor="let method of sortMethods" [value]="method">
        {{method}}
      </mat-radio-button>
    </mat-radio-group>

  </div>

</div>
