.filter-component-container {
  height: 100%;
  overflow-y: auto;
}
.filter-component-container .filter-section {
  padding: 16px;
}
.filter-component-container .filter-section:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.filter-component-container .filter-section.groups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter-component-container .filter-section.groups mat-slide-toggle {
  padding-left: 12px;
}
.filter-component-container .groups-filter,
.filter-component-container .month-filter {
  width: 100%;
}
.filter-component-container .example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}
.filter-component-container .example-radio-button {
  margin: 5px;
}
