<div class="filter-component-container">

  <div class="filter-section">
    <div class="flexbox align">
      <i class="material-icons mr-8">today</i>
      <span>Date</span>
    </div>
       <mat-radio-group class="example-radio-group" [(ngModel)]="monthMethod" (change)="dateChanged($event)">
      <mat-radio-button color="primary" class="example-radio-button" [value]="'all'">All time</mat-radio-button>
      <mat-radio-button color="primary" class="example-radio-button" [value]="'last30'">Last 30 days</mat-radio-button>
      <mat-radio-button color="primary" class="example-radio-button" [value]="'specific'">Specific month</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="standard" class="month-filter" *ngIf="monthMethod == 'specific'">
      <mat-label>Month</mat-label>
      <input type="month" matInput [(ngModel)]="dateSelected" #monthPickerInput>
    </mat-form-field>
  </div>

  <div class="filter-section groups">
    <div class="flexbox align">
      <!-- <div class="image-icon groups mr-8"></div> -->
      <i class="material-icons mr-8">folder_open</i>
      <span>Groups</span>
    </div>    
    <mat-slide-toggle color="primary" class="example-margin" [checked]="!allGroupsSelected"
      (change)="groupChanged($event)">{{allGroupsSelected ? "All" : "Specfic"}}</mat-slide-toggle>
    <div class="multiple" *ngIf="!allGroupsSelected">
      <div class="group-filter-item" *ngFor="let singleInput of groupsSelected; let i = index">
        <mat-form-field appearance="standard" class="groups-filter">
          <mat-label>Group</mat-label>
          <select matNativeControl class="group-picker" [(ngModel)]="groupsSelected[i]" #groupPickerInput>
            <option value="0">General</option>
            <option *ngFor="let group of groupsWithSubgroups$ | async" [value]="group.id">{{group.name}}</option>
          </select>
        </mat-form-field>
        <div class="remove-item mat-form-field-wrapper" (click)="removeGroupFilter(i)" *ngIf="groupsSelected.length > 1">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="align add-group-filter" (click)="groupsSelected.push(0)">
        <i class="material-icons">add</i>
        <span class="ml-8">Add new group filter</span>
      </div>
    </div>
   
  </div>

  <div class="filter-section">
    <label id="example-radio-group-label" class="flexbox align"><i class="material-icons mr-8">sort</i> Sort by</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="sortMethod">
      <mat-radio-button color="primary" class="example-radio-button" *ngFor="let method of sortMethods"
        [value]="method">
        {{method}}
      </mat-radio-button>
    </mat-radio-group>

  </div>

</div>
