<app-header *ngIf="appHeadline !== 'Overview' && appHeadline !== 'Settings'">
  <div class="flexbox justify align h-100">
    <span>{{appHeadline}}</span>
    <div class="nav-icons">
      <i class="material-icons" (click)="sliderService.show('search')">search</i>
      <div class="settings" routerLink="/settings" routerLinkActive="active"></div>
    </div>
  </div>
</app-header>

<app-header *ngIf="appHeadline === 'Overview'">
  <div class="home-general-header flexbox justify align h-100">
    <i class="material-icons-outlined back-icon" (click)="filterService.hide()" *ngIf="filterService.filterShown$ | async">arrow_back_ios</i>
    <i class="material-icons-outlined back-icon" (click)="resetTemporary()" *ngIf="(filterService.filterState$ | async).temporaryFilter && !(filterService.filterShown$ | async)">close</i>
    <span *ngIf="!(filterService.filterShown$ | async)">{{appHeadline}}</span>
    <span *ngIf="filterService.filterShown$ | async">Filter</span>
    <div class="nav-icons">
      <i class="material-icons-outlined" (click)="filterService.show()" *ngIf="!(filterService.filterShown$ | async)">filter_list</i>
      <i class="material-icons-outlined" (click)="sliderService.show('search')" *ngIf="!(filterService.filterShown$ | async)">search</i>
      <div class="settings" routerLink="/settings" routerLinkActive="active" *ngIf="!(filterService.filterShown$ | async)"></div>
    </div>

  </div>
 
  <div class="home-component-header animated faster" [className]="(!(filterService.filterShown$ | async) && appHeadline == 'Overview') ? 'slideInDown' : 'slideOutUp'" *ngIf="filterTitles?.date || filterTitles?.group">
    <i class="material-icons" [class.disabled]="!currentFilter$.value.date" (click)="filterService.switchMonth('decrement')">chevron_left</i>
    <div class="filter-title" (click)="filterService.show()">
        <span *ngIf="filterTitles?.date">{{filterTitles.date}}</span>
        <span *ngIf="filterTitles?.date && filterTitles?.group"> - </span>
        <span *ngIf="filterTitles?.group">{{filterTitles.group}}</span>
    </div>    
    <i class="material-icons"  [class.disabled]="!currentFilter$.value.date" (click)="filterService.switchMonth('increment')">chevron_right</i>
  </div>

</app-header>

<app-header *ngIf="appHeadline === 'Settings'">
  <div class="flexbox justify align h-100">
    <i class="material-icons settings-back-icon" (click)="navigateBack()">chevron_left</i>
    <span>{{appHeadline}}</span>
  </div>
</app-header>

<div class="router-body" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>


<app-footer></app-footer>

<div class="app-slider" [class.sliderActive]="sliderService.getActiveComponent()">
  <app-add *ngIf="sliderService.activeComponent === 'add'"></app-add>
  <app-search *ngIf="sliderService.activeComponent === 'search'"></app-search>
</div>
