.router-body {
  flex: 1;
  background: #eee;
  overflow-y: auto;
  overflow-x: hidden;
}
.back-icon {
  position: absolute;
  left: 0;
  padding: 12px;
  font-size: 18px;
}
.filter-icon {
  position: absolute;
  right: 0;
  padding: 8px 12px 8px 8px;
}
.app-slider {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
.app-slider > * {
  height: 100%;
  background: #eee;
  display: flex;
}
.app-slider.sliderActive {
  display: block;
}
