<app-header>
  <div class="flexbox justify align h-100">
    <span>ExpenseManager 2.0</span>
  </div>
</app-header>

<div class="router-body" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<app-footer></app-footer>

<div class="app-slider" [class.sliderActive]="sliderService.getActiveComponent()">
  <app-add *ngIf="sliderService.activeComponent === 'add'"></app-add>
  <app-search *ngIf="sliderService.activeComponent === 'search'"></app-search>
</div>