@import "../variables";

.router-body {
    flex    : 1;
    background: @app-light;
    overflow-y: auto;
    overflow-x: hidden;
}


.back-icon{
    position: absolute;
    left: 0;
    padding: 12px;
    font-size: 18px;
}

.filter-icon{
    position: absolute;
    right: 0;
    padding: 8px 12px 8px 8px;
    // margin-right: 12px;
}

.app-slider {
    position    : fixed;
    width       : 100%;
    height      : 100%;
    z-index     : 1000;
    display: none;
    
    >*{
        height: 100%;
        background: #eee;
        display: flex;
    }

    &.sliderActive {
        display: block;
    }
}


.home-general-header{
    position: relative;
    z-index: 2;
    background: @app-header-color;
}

.home-component-header {
    display: flex;
    background: @app-header-color;
    align-items: center;
    min-height: 22px;
    width: 100%;
    box-sizing: border-box;
  
    >*{
      padding: 4px;
    }

    i {
      color: white;
      &:first-child{
        padding-right: 16px;
      }
      &:last-child{
        padding-left: 16px;
      }
  
      &.disabled {
        opacity: 0.2;
      }
    }
  
    .filter-title {
      flex: 1;
      text-align: center;
      font-family: "Roboto-Light";
      font-size: 14px;
  
      span {
        &::first-letter {
          text-transform: uppercase;
        }
  
        color: white;
      }
    }
  }
  
  .hiddenHeader{
    position: absolute;
  }