<div class="home-component-container" (click)="collapseNotifier.next()" [class.no-filters]="!(currentFilter$ | async)?.date && !(currentFilter$ | async)?.groups && !(currentFilter$ | async)?.last30Active">
    <div class="general" *ngIf="totalAmount >0">
        <div class="total-amount" >{{totalAmount | prettyCurrency}}</div>
        <div class="categories-total">
            <div class="category-item" *ngFor="let total of totalCategories">
                <div class="color-badge" [style.background-color]="categoryService.categoryColors[total.category]"></div>
                <span class="category">{{total.category}} </span>
                <span class="amount"> {{total.amount | prettyCurrency}}</span>
            </div>
        </div>
    </div>

    <div style="position: relative; z-index: 0;">
        <highcharts-chart 
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            style="width: 100%; height: 300px; display: block;">
        </highcharts-chart>

    </div>


    <app-expense-list [expenses]="expenses" [collapseNotifier]="collapseNotifier" *ngIf="totalAmount >0"></app-expense-list>

    <div class="filter-container" [class.active]="filterService.filterShown$ | async" >
        <app-filter></app-filter>
    </div>

    <div class="no-expenses-placeholder" *ngIf="totalAmount === 0">
        <div>No expenses yet</div>
    </div>

</div>

