@import "../../../variables";

:host {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-component-header {
  display: flex;
  background: @app-header-color;
  padding: 4px;
  align-items: center;

  i {
    color: white;

    &.disabled {
      opacity: 0.2;
    }
  }

  .filter-title {
    flex: 1;
    text-align: center;

    span {
      &::first-letter {
        text-transform: uppercase;
      }

      color: white;
    }
  }
}

.home-component-container {
  padding: 16px 12px;
  overflow-y: auto;

  .general {
    .total-amount {
      font-size: 2em;
      border-bottom: 1px solid #ddd;
    }

    .categories-total {
      padding: 8px;

      .category-item {
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        .color-badge {
          height: 14px;
          width: 14px;
          background: lightgray;
          border-radius: 4px;
          margin-right: 8px;
        }

        .category {
          flex: 1;
          text-transform: capitalize;
        }
      }
    }
  }

  .expense-list {
    box-shadow: -3px 2px 20px 0px #d8d8d8;
    
    .expense-item {
      background: @app-white;
      margin: 4px 0;
      display: flex;

      .category-indicator {
        background: steelblue;
        width: 6px;
      }

      .item-content {
        padding: 14px 8px;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .minimal-info {
          display: flex;

          .info-item {
            &.amount {
              min-width: 80px;
              font-weight: bold;
            }

            &.name {
              flex: 1;
              &, & > * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            &.date {
              margin-left: 12px;
            }
          }
        }

        .more-info {
          flex: 1;

          >div {
            &:first-child {
              padding-top: 16px;
            }
          }

          .description {
            padding: 8px 0;
          }

          .group {
            text-transform: capitalize;
            padding: 8px 0 0 0;
            display: flex;
            align-items: center;

            .group-title {
              font-weight: bold;
            }

            .group-name {
              margin-left: 8px;
              flex: 1;
            }

            .action-buttons {
              margin-right: 8px;

              i {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }

  .filter-container {
    background: white;
    position: absolute;
    height: calc(100% - 40px);
    width: 100%;
    top: 40px;
    visibility: hidden;
    display: none;
    transform: translateX(100%);
    transition: transform 150ms ease-in-out, visibility 150ms ease-in-out;

    &.active {
      display: block;
      visibility: visible;
      transform: translateX(-12px);
    }
  }
}
