:host {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-component-header {
  display: flex;
  background: #76757b;
  padding: 4px;
  align-items: center;
  min-height: 22px;
}
.home-component-header i {
  color: white;
}
.home-component-header i.disabled {
  opacity: 0.2;
}
.home-component-header .filter-title {
  flex: 1;
  text-align: center;
}
.home-component-header .filter-title span {
  color: white;
}
.home-component-header .filter-title span::first-letter {
  text-transform: uppercase;
}
.home-component-container {
  padding: 16px 12px;
  overflow-y: auto;
}
.home-component-container .general .total-amount {
  font-size: 2em;
  border-bottom: 1px solid #ddd;
}
.home-component-container .general .categories-total {
  padding: 8px;
}
.home-component-container .general .categories-total .category-item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.home-component-container .general .categories-total .category-item .color-badge {
  height: 14px;
  width: 14px;
  background: lightgray;
  border-radius: 4px;
  margin-right: 8px;
}
.home-component-container .general .categories-total .category-item .category {
  flex: 1;
  text-transform: capitalize;
}
.home-component-container .filter-container {
  background: white;
  position: absolute;
  height: calc(100% - 40px);
  width: 100%;
  top: 40px;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 150ms ease-in-out, visibility 150ms ease-in-out;
}
.home-component-container .filter-container.active {
  display: block;
  visibility: visible;
  transform: translateX(-12px);
}
