
<div class="home-component-container">

    <div class="general">
        <div class="total-amount">{{totalAmount | prettyCurrency}}</div>
        <div class="categories-total">
            <div class="category-item" *ngFor="let total of totalCategories">
                <div class="color-badge" [style.background-color]="categoryService.categoryColors[total.category]"></div>
                <span class="category">{{total.category}} </span>
                <span class="amount"> {{total.amount | prettyCurrency}}</span>
            </div>
        </div>
    </div>

    <app-expense-list [expenses]="expenses"></app-expense-list>

    <!-- TODO remove ngIf -->
    <div class="filter-container" [class.active]="filterService.filterShown$ | async">
        <app-filter></app-filter>
    </div>
</div>