<div class="home-component-header animated faster" [className]="!(filterService.filterShown$ | async) ? 'slideInDown' : ''">
    <i class="material-icons" [class.disabled]="!currentFilter$.value.date" (click)="filterService.switchMonth('decrement')">chevron_left</i>
    <div class="filter-title">
        <span *ngIf="filterTitles?.date">{{filterTitles.date}}</span>
        <span *ngIf="filterTitles?.group"> - {{filterTitles.group}}</span>
    </div>    
    <i class="material-icons"  [class.disabled]="!currentFilter$.value.date" (click)="filterService.switchMonth('increment')">chevron_right</i>

</div>
<div class="home-component-container">

    <div class="general">
        <div class="total-amount">{{totalAmount | prettyCurrency}}</div>
        <div class="categories-total">
            <div class="category-item" *ngFor="let total of totalCategories">
                <div class="color-badge" [style.background-color]="categoryService.categoryColors[total.category]"></div>
                <span class="category">{{total.category}} </span>
                <span class="amount"> {{total.amount | prettyCurrency}}</span>
            </div>
        </div>
    </div>

    <div class="expense-list">
        <div *ngFor="let expense of expenses; let i = index" class="expense-item" (click)="toggleDetailView(i)" >
            <div class="category-indicator" [style.background-color]="categoryService.categoryColors[expense.category]"></div>
            <div class="item-content">
                <div class="minimal-info" >
                    <div class="amount info-item">{{expense.amount | prettyCurrency}}</div>
                    <div class="name info-item"><span>{{expense.name}}</span></div>
                    <div class="date info-item">{{expense.date | date:'d MMM'}}</div> 
                </div>
                <div class="more-info" *ngIf="i == detailViewShownForIndex">
                    <div class="description" *ngIf="expense.description">{{expense.description}}</div>
                    <div class="group">
                        <div class="group-title">Group:</div>
                        <div class="group-name"> {{expense.group}}</div>   
                        <div class="action-buttons">
                            <i class="material-icons">edit</i>                    
                            <i class="material-icons" (click)="deleteExpense($event, expense.key)">delete</i>                    
                        </div>
                    </div>
                </div>
            </div>
            <!-- <i class="material-icons-outlined" (click)="expenseService.deleteExpense(expense.key)">close</i> -->
        </div>
    </div>
    <div class="filter-container" [class.active]="filterService.filterShown$ | async">
        <app-filter></app-filter>
    </div>
</div>