@import "../../../variables";

:host {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-component-header {
  display: flex;
  background: @app-header-color;
  padding: 4px;
  align-items: center;
  min-height: 22px;

  i {
    color: white;

    &.disabled {
      opacity: 0.2;
    }
  }

  .filter-title {
    flex: 1;
    text-align: center;

    span {
      &::first-letter {
        text-transform: uppercase;
      }

      color: white;
    }
  }
}

.home-component-container {
  padding: 16px 12px;
  overflow-y: auto;

  .general {
    .total-amount {
      font-size: 2em;
      border-bottom: 1px solid #ddd;
    }

    .categories-total {
      padding: 8px;

      .category-item {
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        .color-badge {
          height: 14px;
          width: 14px;
          background: lightgray;
          border-radius: 4px;
          margin-right: 8px;
        }

        .category {
          flex: 1;
          text-transform: capitalize;
        }
      }
    }
  }

  

  .filter-container {
    background: white;
    position: absolute;
    height: calc(100% - 40px);
    width: 100%;
    top: 40px;
    visibility: hidden;
    display: none;
    transform: translateX(100%);
    transition: transform 150ms ease-in-out, visibility 150ms ease-in-out;

    &.active {
      display: block;
      visibility: visible;
      transform: translateX(-12px);
    }
  }
}
