.settings-group-menu {
  background: none;
  margin: 8px;
}
.settings-group-menu .option-container {
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
}
.settings-group-menu .option-container > div:not(:last-child) {
  border-bottom: 1px solid #d8d8d8;
}
.settings-group-menu .menu-item {
  height: 55px;
  color: #0c7def;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}
.settings-group-menu .cancel {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  font-weight: bold;
}
