:host {
  user-select: none;
}
.pulsing-container {
  border-radius: 20px;
  z-index: 1;
}
span {
  height: 40px;
  user-select: none;
}
.add {
  background-image: url('../../../assets/images/add.png');
  user-select: none;
}
.pulsing {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.3);
  }
  65% {
    box-shadow: 0px 0px 5px 13px rgba(68, 68, 68, 0.3);
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(68, 68, 68, 0.3);
  }
}
