<div class="category-settings-container">
    <div class="header">
        <div class="title">Categories</div>
        <i class="material-icons-outlined back-icon" (click)="openDialog()">add</i>
    </div>
    <div class="category-list">
        <div class="category-list-item" *ngFor="let category of categories$ | async">
            <div class="grouping-container">
                <div class="color-preview" [style.background-color]="category.color"></div>
                <div>{{category.name}}</div>
            </div>
            <i class="material-icons-outlined" (click)="openBottomSheet($event, category)">more_horiz</i>
        </div>
    </div>

</div>