.add-category-dialog-container{

    .header{
        display: flex;
        align-items: center;

        h3{
            flex: 1;
        }
    }

    .submit-form{
        background: #60954a;
        font-weight: bold;
        color: white;
        width: initial;
        padding: 8px 12px;
    }

    .is-active-section{
        margin-top: 12px;
        p{
            font-size: 0.8em;
            opacity: 0.8;

            i{
                font-size: 1em;
            }
        }
    }
    .subgroups-section{
        border-bottom: 1px solid #cfcfcf;
        margin: 12px 0;

        .header{
            display: flex;
            align-items: center;

            input{
                flex: 1;
            }
        }
    }

    .submit-form{
        margin-top: 12px;
    }
}
