.add-category-dialog-container .header {
  display: flex;
  align-items: center;
}
.add-category-dialog-container .header h3 {
  flex: 1;
}
.add-category-dialog-container .submit-form {
  background: #444;
  font-weight: bold;
  color: white;
  width: initial;
  padding: 8px 12px;
}
.add-category-dialog-container .is-active-section {
  margin-top: 12px;
}
.add-category-dialog-container .is-active-section p {
  font-size: 0.8em;
  opacity: 0.8;
}
.add-category-dialog-container .is-active-section p i {
  font-size: 1em;
}
.add-category-dialog-container .subgroups-section {
  border-top: 1px solid #b3b3b3;
  padding-top: 12px;
  margin: 12px 0;
}
.add-category-dialog-container .subgroups-section .header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.add-category-dialog-container .subgroups-section .header .title {
  font-weight: bold;
  flex: 1;
}
.add-category-dialog-container .subgroups-section .content .no-items {
  opacity: 0.7;
}
.add-category-dialog-container .subgroups-section .content .subgroup-item {
  margin-bottom: 8px;
  padding: 6px 12px;
  display: flex;
  background: white;
  box-shadow: 1px 1px 20px 0px #d2d2d2;
  border-radius: 8px;
  margin: 4px 0;
  align-items: center;
}
.add-category-dialog-container .subgroups-section .content .subgroup-item .name {
  flex: 1;
}
.add-category-dialog-container .submit-form {
  margin-top: 32px;
}
