.month-analysis-component-container {
  padding: 8px;
  margin-top: 16px;
}
.month-analysis-component-container .filter-container {
  display: flex;
  padding-bottom: 12px;
}
.month-analysis-component-container .filter-container .month,
.month-analysis-component-container .filter-container .category {
  display: flex;
  margin-right: 16px;
}
.month-analysis-component-container .filter-container .month .title,
.month-analysis-component-container .filter-container .category .title {
  font-weight: bold;
  opacity: 0.5;
  padding-right: 6px;
}
.month-analysis-component-container .filter-container .month input,
.month-analysis-component-container .filter-container .category input,
.month-analysis-component-container .filter-container .month select,
.month-analysis-component-container .filter-container .category select {
  border-color: #E1E1E1;
}
