<div class="month-analysis-component-container">

    <div class="filter-container">
        <div class="month">    
            <div class="title">Filter</div>               
            <input type="month" id="start" name="start" min="2020-03" [(ngModel)]="monthSelection" (change)="monthChanged()">
        <div class="category">
            <div class="title"></div>
            <select [(ngModel)]="categorySelected" (change)="categoryChanged()">
                <option value="0">All Categories</option>
                <option *ngFor="let category of categories$ | async" value="{{category.id}}">{{category.name}}</option>
              </select>
        </div>
    </div>



</div>