:host {
  display: flex;
  height: 100%;
}
.groups-component-container {
  padding: 16px;
}
.groups-component-container .no-groups {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groups-component-container .group-list {
  overflow: auto;
}
.groups-component-container .group-list .isSingle {
  padding-top: 16px;
}
.groups-component-container .group-list .isSingle .group-list-header {
  display: none;
}
.groups-component-container .group-list .totals-info-section {
  padding: 0 16px;
}
.groups-component-container .group-list .totals-info-section .totals-info-item {
  padding: 8px 0;
}
.groups-component-container .group-list:not(:first-child) .group-list-header {
  margin: 16px 0;
}
.groups-component-container .group-list .group-list-header {
  margin-bottom: 16px;
}
.groups-component-container .group-list .group-list-item {
  margin: 0 16px 16px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  background: #fff;
  padding: 12px;
}
.groups-component-container .group-list .group-list-item .group-item-general {
  display: flex;
}
.groups-component-container .group-list .group-list-item .group-item-general .info-section {
  flex: 1;
}
.groups-component-container .group-list .group-list-item .group-item-general .info-section .group-name {
  font-family: "Roboto-Regular";
}
.groups-component-container .group-list .group-list-item .group-item-general .info-section .group-dates {
  margin-top: 12px;
  opacity: 0.8;
  font-size: 0.8em;
}
.groups-component-container .group-list .group-list-item .group-item-general .no-expenses {
  opacity: 0.7;
}
.groups-component-container .group-list .group-list-item .more-info {
  margin-top: 12px;
}
.groups-component-container .group-list .group-list-item .more-info .show-list-wrapper {
  padding: 8px;
  text-align: center;
  background: #ddd;
}
