@import "../../../variables";
:host{
    display: flex;
}

.groups-component-container{
    padding: 16px;
    .group-list{

        .totals-info-section{
            padding: 0 16px;

            .totals-info-item{
                padding: 8px 0;
            }
        }

        &:not(:first-child){
            .group-list-header{
                margin: 32px 0 16px;
            }
        }

        .group-list-header{
            margin-bottom: 16px;
        }

        .group-list-item{
            margin: 0 16px 16px 16px;
            margin-bottom: 16px;
            border-radius: 4px;
            background: @app-white;
            padding: 12px;
            
            .group-item-general{
                display: flex;
                
                .info-section{
                    flex: 1;

                    .group-name{
                        font-family: "Roboto-Regular";
                    }
    
                    .group-dates{
                        margin-top: 12px;
                        opacity: 0.8;
                        font-size: 0.8em;
                    }
    
                }
                // .amount{
                //     // display: flex;
                //     // align-items: center;
                //     // font-weight: bold;
                // }
                .no-expenses{
                    opacity: 0.7;
                }

            }

            .more-info{
                margin-top: 12px;
            }


        }
    }
}