.all-time-analysis-container{
    padding: 8px;
    margin-top: 16px;

    .filter-container{
        display: flex;
        padding-bottom: 12px;

        .year, .category{
            display: flex;

            .title{
                font-weight: bold; // TODO evtl falsch angezeigt
                opacity: 0.5;
                padding-right: 6px;
            }

            select{
                border-color: #E1E1E1;
            }

            .restriction-selection{
                margin-left: 8px;
            }

            margin-right: 16px;
        }
    }
    

    .chart-section{

        .totals-container{
            .totals-list{
                margin-bottom: 16px;
    
                .totals-list-item{
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
    
                    .title{
                        flex: 1;
                        text-align: left;
                        opacity: 0.7;
                    }
                    
                    .value{
                        display: flex;
                        align-items: center;
                        text-align: right;
                        font-weight: bold;
                        font-size: 0.8em;
                    }   
                }
            }
        }

        .all-time-header{
            display: flex;
            align-items: center;
            padding-bottom:12px;

            .title{
                font-weight: bold;
                flex: 1;
            }
        }

        .title-container{
            display: flex;
            align-items: center;
            padding-bottom: 8px;

            .title{
                font-weight: bold;
                flex: 1;
            }

            .title{
                font-weight: bold;
            }

            .amount{
                margin-left: 12px;
            }
        }

        .ratio-charts-wrapper{
                
            .travel-ratio{
                margin-top: 12px;
            }
                .title{
                    font-size: 0.6em;
                    opacity: 0.7;
                    text-align: center;
                    margin-bottom: 2px;
                }
                
                .content{
                    display: flex;
               }
    
                .leftLabel, .rightLabel{
                    flex: 0;
                    font-size: 0.6em;
                    opacity: 0.7;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    min-width: 50px;
                }
    
                .leftLabel{
                    text-align: right;
                    margin: 0 4px;
                }
                .rightLabel{
                    margin: 0 4px;
                }
    
                app-ratio-bar {
                    flex: 1;
                }

        }
    }


    .stats-list-container{
        .stats-list{
            margin-bottom: 16px;

            .stats-list-item{
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                .title{
                    flex: 1;
                    text-align: left;
                    opacity: 0.7;
                }
                
                .value{
                    display: flex;
                    align-items: center;
                    text-align: right;
                    font-weight: bold;
                    font-size: 0.8em;

                    .category-indicator{
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background: deeppink; // placeholder --> will be replaced
                        margin-right: 4px;
                    }
                }   
            }
        }

        .pie-chart-wrapper{
            position: relative;
            padding-top: 100px;

            .semi-pie-category-chart{
                height: 160px;
                position: absolute;
                top: -70px;
            }

            .legend{
                font-size: 0.7em;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 16px;

                .category-item {
                    padding: 4px 0;
                    display: flex;
                    align-items: center;
                    transition: opacity 150ms ease-in-out;
                    flex: 48%; // 100-4   /2
                    max-width: 48%;

                    &:nth-child(odd){
                        padding-right: 4%;
                    }
            
                    &.category-limited{
                      opacity: 0.5;
            
                      &.selected{
                        opacity: 1;
                      }
                    }
            
            
                    .color-badge {
                      height: 14px;
                      width: 14px;
                      background: lightgray;
                      border-radius: 4px;
                      margin-right: 8px;
                      opacity: 0.9;
                    }
            
                    .category {
                      flex: 1;
                      text-transform: capitalize;
                    }
                  }
            }
        }


    }
}