
<div class="all-time-analysis-container">

    <!-- <div class="filter-container">
        <div class="category">
            <div class="title">Category</div>
            <select [(ngModel)]="categorySelected" (change)="categoryChanged()">
                <option value="0">All Categories</option>
                <option *ngFor="let category of categories$ | async" value="{{category.id}}">{{category.name}}</option>
              </select>
        </div>
    </div> -->

    <div *ngIf="chartReady" class="chart-section">
        <app-card>
            <div class="all-time-header" header>
                <div class="title">History</div>
                <select [(ngModel)]="historyCategorySelected" (change)="historyCategoryChanged()">
                    <option value="0">All Categories</option>
                    <option *ngFor="let category of categories$ | async" value="{{category.id}}">{{category.name}}</option>
                  </select>
            </div>
            <highcharts-chart body *ngIf="chartReady" [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="updateFlag"
            style="width: 100%; display: block;" class="highcharts-chart">
            </highcharts-chart>
        </app-card>
    </div>
    <div *ngIf="chartReady" class="chart-section">
        <app-card>
            <div class="title-container" header>
                <div class="title">Average spending</div>
                <select [(ngModel)]="averageCategorySelected" (change)="averageCategoryChanged()">
                    <option value="0">All Categories</option>
                    <option *ngFor="let category of categories$ | async" value="{{category.id}}">{{category.name}}</option>
                  </select>
            </div>
            <div body class="stats-list-container">
                <div class="stats-list">
                    <div class="stats-list-item">
                        <div class="title">All Time</div>
                        <div class="value"><span *ngIf="averageCategorySelected != 0" class="category-indicator" [style.background]="categoryService.getCategoryFromId(averageCategorySelected).color"></span>{{averageTotal| number: '1.0-0':'de-DE'}} €</div>
                    </div>
                    <div class="stats-list-item">
                        <div class="title">Year</div>
                        <div class="value"><span *ngIf="averageCategorySelected != 0" class="category-indicator" [style.background]="categoryService.getCategoryFromId(averageCategorySelected).color"></span>{{averagePerYear | number: '1.0-0':'de-DE'}} €</div>
                    </div>
                    <div class="stats-list-item">
                        <div class="title">Month</div>
                        <div class="value"><span *ngIf="averageCategorySelected != 0" class="category-indicator" [style.background]="categoryService.getCategoryFromId(averageCategorySelected).color"></span>{{averagePerMonth | number: '1.0-0':'de-DE'}} €</div>
                    </div>
                    <div class="stats-list-item">
                        <div class="title">Day</div>
                        <div class="value"><span *ngIf="averageCategorySelected != 0" class="category-indicator" [style.background]="categoryService.getCategoryFromId(averageCategorySelected).color"></span>{{averagePerDay | number: '1.0-0':'de-DE'}} €</div>
                    </div>
                </div>

                <div class="pie-chart-wrapper">
                    <highcharts-chart body *ngIf="chartReady" [Highcharts]="Highcharts" [options]="categoryPieChartOptions" 
                    style="width: 100%; display: block;" class="highcharts-chart semi-pie-category-chart">
                    </highcharts-chart>
                    <div class="legend">
                        <div class="category-item" *ngFor="let categoryTotal of tempCategoriesSorted; let i= index" (click)="categorySelectedFromLegend(categoryTotal.category)">
                            <div class="color-badge" [style.background-color]="categoryTotal.category.color"></div>
                            <span class="category">{{categoryTotal.category.name}} </span>
                            <span class="amount"> {{categoryTotal.percentage}} %</span>
                          </div>
                    </div>
                </div>
            </div>
        </app-card>
      
    </div>
    <div *ngIf="chartReady" class="chart-section">
        <app-card>
            <div class="all-time-header" header>
                <div class="title">Comparisons</div>
            </div>
            <div body class="ratio-charts-wrapper">
                <div class="recurring-ratio">
                    <div class="title">Monthly</div>
                    <div class="content">
                        <div class="leftLabel">
                            <div>Regular</div>
                            <div>{{(((stats.total- stats.totalRecurring) / stats.amountOfDays) *30.437) | number: '1.0-0':'de-DE'}} €</div>
                        </div>
                        <app-ratio-bar 
                            [value1]="((stats.total- stats.totalRecurring) / stats.amountOfDays) *30.437" 
                            [value2]="(stats.totalRecurring / stats.amountOfDays) *30.437" 
                            [labelFirst]="true" 
                            [showLabels]="false"
                            [color1]="'#444444'" [color2]="'rgb(171 171 171)'"
                            [labelPrefix1]="'Regular expenses'" [labelPrefix2]="'Recurring'">
                        </app-ratio-bar>
                            <div class="rightLabel">
                                <div>Recurring</div>
                                <div>{{((stats.totalRecurring / stats.amountOfDays) *30.437) | number: '1.0-0':'de-DE'}} €</div>
                            </div>
                    </div>    
                </div>

                <div class="travel-ratio">
                    <div class="title">Yearly</div>
                    <div class="content">
                        <div class="leftLabel" *ngIf="stats.totalTravel>stats.totalNonTravel">
                            <div>Travel</div>
                            <div>{{(stats.totalTravel / stats.amountOfDays)*365 | number: '1.0-0':'de-DE'}} €</div>
                        </div>
                        <div class="leftLabel" *ngIf="stats.totalTravel<stats.totalNonTravel">
                            <div>Non-Travel</div>
                            <div>{{(stats.totalNonTravel / stats.amountOfDays)*365 | number: '1.0-0':'de-DE'}} €</div>
                        </div>
                        <app-ratio-bar 
                            [value1]="stats.totalNonTravel" 
                            [value2]="stats.totalTravel" 
                            [labelFirst]="true" 
                            [showLabels]="false"
                            [color1]="'#444444'" [color2]="'rgb(171 171 171)'"
                            [labelPrefix1]="'Non-Travel'" [labelPrefix2]="'Travel'">
                        </app-ratio-bar>
                            <div class="rightLabel"*ngIf="stats.totalTravel <= stats.totalNonTravel">
                                <div>Travel</div>
                                <div>{{(stats.totalTravel / stats.amountOfDays)*365 | number: '1.0-0':'de-DE'}} €</div>
                            </div>
                            <div class="rightLabel" *ngIf="stats.totalTravel>stats.totalNonTravel">
                                <div>Non-Travel</div>
                                <div>{{(stats.totalNonTravel / stats.amountOfDays)*365 | number: '1.0-0':'de-DE'}} €</div>
                            </div>
                    </div>   
                    
                    <div class="travel-ratio">
                        <div class="title">Yearly</div>
                        <div class="content">
                            <div class="leftLabel" *ngIf="getCategoryStats(1638217648875).total>(stats.total - getCategoryStats(1638217648875).total)">
                                <div>Invest</div>
                                <div>{{getAverageValues(1638217648875).year | number: '1.0-0':'de-DE'}} €</div>
                            </div>
                            <div class="leftLabel" *ngIf="getCategoryStats(1638217648875).total<(stats.total - getCategoryStats(1638217648875).total)">
                                <div>Non-Invest</div>
                                <div>{{((stats.totalSinceInvest - getCategoryStats(1638217648875).total) / getCategoryStats(1638217648875).amountOfDays)*365 | number: '1.0-0':'de-DE'}} €</div>
                            </div>
                            <app-ratio-bar 
                                [value1]="(stats.total - getCategoryStats(1638217648875).total)" 
                                [value2]="getCategoryStats(1638217648875).total" 
                                [labelFirst]="true" 
                                [showLabels]="false"
                                [color1]="'#444444'" [color2]="'rgb(171 171 171)'"
                                [labelPrefix1]="'Non-Travel'" [labelPrefix2]="'Travel'">
                            </app-ratio-bar>
                                <div class="rightLabel"*ngIf="getCategoryStats(1638217648875).total <= (stats.total - getCategoryStats(1638217648875).total)">
                                    <div>Invest</div>
                                    <div>{{getAverageValues(1638217648875).year| number: '1.0-0':'de-DE'}} €</div>
                                </div>
                                <div class="rightLabel" *ngIf="getCategoryStats(1638217648875).total> (stats.total - getCategoryStats(1638217648875).total) ">
                                    <div>Non-Invest</div>
                                    <div>{{((stats.totalSinceInvest - getCategoryStats(1638217648875).total) / getCategoryStats(1638217648875).amountOfDays) | number: '1.0-0':'de-DE'}} €</div>
                                </div>
                                </div>                            
                        </div>                        
                </div>  
            </div>
        </app-card>
    </div>

    
    <div *ngIf="chartReady" class="chart-section">
        <app-card>
            <div class="title-container" header>
                <div class="title">Totals</div>
            </div>
            <div body class="totals-container">
                <div class="totals-list">
                    <div class="totals-list-item">
                        <div class="title">Travel</div>
                        <div class="value">{{stats.totalTravel | number: '1.0-0':'de-DE'}} €</div>
                    </div>
                    <div class="totals-list-item">
                        <div class="title">Invest</div>
                        <div class="value">{{getAverageValues(1638217648875).total | number: '1.0-0':'de-DE'}} €</div>
                    </div>
                    <div class="totals-list-item">
                        <div class="title">Wasted money</div>
                        <div class="value">{{stats.totalWasted | number: '1.0-0':'de-DE'}} €</div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>