.all-time-analysis-container {
  padding: 8px;
  margin-top: 16px;
}
.all-time-analysis-container .chart-section .all-time-header {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}
.all-time-analysis-container .chart-section .all-time-header .title {
  font-weight: bold;
  flex: 1;
}
.all-time-analysis-container .chart-section .title-container {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.all-time-analysis-container .chart-section .title-container .title {
  font-weight: bold;
  flex: 1;
}
.all-time-analysis-container .chart-section .title-container .title {
  font-weight: bold;
}
.all-time-analysis-container .chart-section .title-container .amount {
  margin-left: 12px;
}
.all-time-analysis-container .chart-section .recurring-ratio .title {
  font-size: 0.6em;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 2px;
}
.all-time-analysis-container .chart-section .recurring-ratio .content {
  display: flex;
}
.all-time-analysis-container .chart-section .recurring-ratio .leftLabel,
.all-time-analysis-container .chart-section .recurring-ratio .rightLabel {
  flex: 0;
  font-size: 0.6em;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all-time-analysis-container .chart-section .recurring-ratio .leftLabel {
  text-align: right;
  margin-right: 4px;
}
.all-time-analysis-container .chart-section .recurring-ratio .rightLabel {
  margin-left: 4px;
}
.all-time-analysis-container .chart-section .recurring-ratio app-ratio-bar {
  flex: 1;
}
.all-time-analysis-container .stats-list-container .stats-list {
  margin-bottom: 16px;
}
.all-time-analysis-container .stats-list-container .stats-list .stats-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.all-time-analysis-container .stats-list-container .stats-list .stats-list-item .title {
  flex: 1;
  text-align: left;
  opacity: 0.7;
}
.all-time-analysis-container .stats-list-container .stats-list .stats-list-item .value {
  display: flex;
  align-items: center;
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
}
.all-time-analysis-container .stats-list-container .stats-list .stats-list-item .value .category-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: deeppink;
  margin-right: 4px;
}
