<div class="about-component-container">
<ul>
    <li>Travel vs Non-Travel vergleiche excluden Kategorie Invest</li>
    <li>Invest vs Non-Invest rechnen erst ab 1.1.2021, da ich erst in dem Jahr meinen 5000€ plan angefangen habe. Gilt auch für die Average spending section wenn man invest auswählt. Intern wird mit "totalSinceInvest" gerechnet</li>
    <li>AllTime comparison von regular/recurring switched bei umstellen von restrictions. es wird dabei angenmmen dass "Special-Expense" nur eine non-recurring ist. Bei restriction von non-invest passiert nichts, da invest nichzuornungsbar ist ob recurring oder nicht</li>
</ul>
</div>