
  <section class="defaults-settings-section">
    <div class="section-container">
      <div class="groups-header">
        <span>Default form values</span>
      </div>
      <mat-form-field appearance="standard" class="groups-default">
        <mat-label>Group</mat-label>
        <select matNativeControl class="group-picker group-input-field" [(ngModel)]="defaultGroupSelected"
          (change)="defaultGroupChanged()">
          <option value="General">General</option>
          <option *ngFor="let group of groups$ | async" [value]="group.name">{{group.name}}</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="standard" class="groups-default">
        <mat-label>Category</mat-label>
        <select matNativeControl class="group-picker" [(ngModel)]="defaultCategorySelected" (change)="defaultCategoryChanged()">
          <option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</option>
        </select>
          
      </mat-form-field>
    </div>
  </section>