
  <section class="defaults-settings-section">
    <div class="section-container">
      <div class="groups-header">
        <span>Default form values</span>
      </div>
      <mat-form-field appearance="standard" class="groups-default">
        <mat-label>Group</mat-label>
        <select matNativeControl class="group-picker group-input-field" [(ngModel)]="defaultGroupSelected"
          (change)="defaultGroupChanged()">
          <option value="0">General</option>
          <option *ngFor="let group of groupsWithSubgroups$ | async" [value]="group.id">{{group.name}}</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="standard" class="groups-default">
        <mat-label>Category</mat-label>
        <select matNativeControl class="group-picker" [(ngModel)]="defaultCategorySelected" (change)="defaultCategoryChanged()">
          <option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</option>
        </select>
      </mat-form-field>



      <div class="tag-selection">
        <div class="selected-tags">
          <div class="selected-tag-item" *ngFor="let tagId of selectedTagIds">
            <div class="label">{{tagService.getTagById(tagId).name}}</div>
            <i class="material-icons-outlined back-icon" (click)="removeTag(tagId)">close</i>
          </div>
        </div>
        <mat-form-field appearance="standard">
          <input type="text" #tagSelectInputElement placeholder="Select Tags" aria-label="Number" matInput
            [formControl]="tagFormControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected($event.option.value)">
            <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag.id">
              {{tag.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

    </div>
  </section>
