
  <section class="tag-settings-section">
    <div class="section-container">
      <div class="tags-header">
        <span class="title">Tags</span>
        <i class="material-icons-outlined" (click)="openDialog()">add</i>
      </div>

      <div class="tag-list">
        <div class="tag-item" *ngFor="let tag of tags$ | async; let i = index">
          <span class="title">{{tag.name}}</span>
          <i class="material-icons-outlined" (click)="openBottomSheet($event, tag)">more_horiz</i>
        </div>
        <span *ngIf="(tags$ | async).length === 0" class="no-items-yet">
          There are no Tags yet
        </span>
      </div>
    </div>
  </section>