<div class="add-tag-dialog-container">
    <div class="header">
      <h3 mat-dialog-title>{{tagToEdit? 'Edit Tag' : 'Add a new Tag'}}</h3>
      <i  class="material-icons" (click)="closeDialog()">close</i>                    
    </div>
      
      <form class="expense-form" [formGroup]="tagForm" autocomplete="off" (submit)="submit()"
        #formDirective="ngForm">
      
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Tag name</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">Max. 35 characters allowed</mat-error>
        </mat-form-field>
      
      
        <input type="submit" style="display: none;">
      </form>
      
      <div class="submit-form" (click)="submit()"  mat-dialog-close>{{tagToEdit? 'Save' : 'Add'}}</div>
  </div>