/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/SFMono/SFMono.css";
@import "./assets/fonts/Roboto/roboto.css";
@import "./assets/fonts/mat-icon/material_Icons.css";
@import "./variables";

*{
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    color: #444;
    user-select: none;
}

html, body, app-root { height: 100%; }
body { margin: 0; font-family: "Roboto-Light" }
app-root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

// Global overrides

.mat-bottom-sheet-container{
    padding: 0px !important;
    background: none !important;
}

.mat-radio-label-content, .mat-slide-toggle-content{
    font-family: "Roboto-Light" !important;
}


// custom icons
.image-icon {
    height         : 20px;
    width          : 20px;
    background-size: contain;
    justify-content: center;

    &.groups{
      background-image: url('/assets/images/folder_outlined.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }


// General Classes

.bold{
    font-weight: bold;
}

.regular-font{
    font-family: "Roboto-Regular";
}

.capitalize{
    text-transform: capitalize;
}

.flex-1{
    flex:1;
}

.flexbox{
    display: flex;
}

.justify{
    justify-content: center;
}

.align{
    align-items: center;
}

.h-100{
    height:100%;
}

.w-100{
    width: 100%;
}

.space-between{
    justify-content: space-between;
}

.p-0-8{
    padding: 0 8px;
}

.mr-8{
    margin-right: 8px;
}

.ml-8{
    margin-left: 8px;
}

.mb-8{
    margin-bottom: 8px;
}

.mr-16{
    margin-right: 16px;
}

.p-8{
    padding: 8px;
}