<section class="general-settings-section">
    <div class="section-container">
      <div class="groups-header">
        <span>Data management</span>
      </div>
      <div class="flexbox p-8" >
        <i class="material-icons-outlined mr-8 bigger-font">info</i>
        <p class="smaller-font">This app operates fully locally on your device without any cloud backup. Uninstalling the app will delete all of your data. You can download your data as a file and load it back into the app any time after re-installing the app as long as you own that file.</p>
      </div>
      <div class="flexbox align p-8" (click)="downloadBackup()">
        <i class="material-icons-outlined mr-8">cloud_download</i>
        <span>Download backup</span>
      </div>
      <div class="flexbox align p-8">
        <i class="material-icons-outlined mr-8">cloud_upload</i>
        <label class="backup-upload-imput">
          <span>Load backup</span>
          <input type="file" id="backupUploader" (change)="onImport($event)"/>
        </label>
      </div>
      <div class="flexbox align p-8" (click)="deleteData()">
        <i class="material-icons-outlined mr-8">delete</i>
        <span>Delete all data</span>
      </div>
      
    </div>
  </section>
  
  <section class="general-settings-section">
    <div class="section-container">
      <div class="groups-header">
        <span>General</span>
      </div>
      <div class="flexbox align p-8" (click)="reloadApp()">
        <i class="material-icons-outlined mr-8">refresh</i>
        <span>Reload Application</span>
      </div>
      <div class="flexbox align p-8" (click)="hardReloadApp()">
        <i class="material-icons-outlined mr-8">update</i>
        <span>Update Application</span>
      </div>
      <div class="share-section flexbox column">
        <div class="flexbox align p-8" (click)="toggleShare()">
          <i class="material-icons-outlined mr-8" >share</i>
          <span>Share</span>
        </div>
        <img #qrCode [@slideInOut]="shareShown ? 'in': 'out'" src="../../../../assets/images/qr_code.png" alt="QR-Code" class="qr-code">
      </div>
    </div>
  </section>

  <section class="general-settings-section">
    <div class="section-container">
      <div class="groups-header">
        <span>Application & Data</span>
      </div>
      <div>TODO: add monitporing infos
        - total ampount of expenses, groups etc
        - memory/un-garbage-collected stuff? anyhow? somehow? number of event listeners attached to stuff?
        - unassigned expenses (either groups and categories with modal that shows expense list)
        - stuff that programatically shouldnt happen but happens (check if for some reason 'id: 0, name:'unassigned' is contained in actual indexedDB) 
      </div>
    </div>
  </section>