.footer-component-container{
    height: 40px;
    width: 100%;
    border-top: 1px solid #c5c5c5;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    i{
        flex:1;
        &.active{
            font-family: 'Material Icons';
        }
    }
}