:host {
  user-select: none !important;
}
.footer-component-container {
  min-height: 40px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none !important;
}
.footer-component-container * {
  user-select: none !important;
}
.footer-component-container .stt-overlay {
  height: 40px;
}
.footer-component-container i {
  flex: 1;
}
.footer-component-container i.active {
  font-family: 'Material Icons';
}
.footer-component-container .image-icon {
  height: 20px;
  width: 20px;
  background-size: contain;
  justify-content: center;
}
.footer-component-container span > * {
  background-repeat: no-repeat;
  background-position: center;
}
.footer-component-container span .home {
  background-image: url('../../../assets/images/home_outlined.png');
}
.footer-component-container span .groups {
  background-image: url('../../../assets/images/folder_outlined.png');
}
.footer-component-container span .search {
  background-image: url('../../../assets/images/search.png');
}
.footer-component-container span .settings {
  background-image: url('../../../assets/images/settings_outlined.png');
}
.footer-component-container span .analysis {
  background-image: url('../../../assets/images/analysis_outlined.png');
}
.footer-component-container span .income {
  background-image: url('../../../assets/images/income_outlined.png');
}
.footer-component-container span.active .home {
  background-image: url('../../../assets/images/home_filled.png');
}
.footer-component-container span.active .groups {
  background-image: url('../../../assets/images/folder.png');
}
.footer-component-container span.active .settings {
  background-image: url('../../../assets/images/settings_filled.png');
}
.footer-component-container span.active .analysis {
  background-image: url('../../../assets/images/analysis_filled.png');
}
.footer-component-container span.active .income {
  background-image: url('../../../assets/images/income_filled.png');
}
