<div class="footer-component-container">
  <span routerLink="/home" routerLinkActive="active" class="flex-1 flexbox justify h-100 align">
    <div class="image-icon home"></div>
    <!-- <img routerLink="/home" routerLinkActive="active" class="image-icon" src="../../../assets/images/home_outlined.png"> -->
  </span>
  
  <span routerLink="/groups" routerLinkActive="active" class="flex-1 flexbox justify h-100 align">
    <div class="image-icon groups" ></div>
  </span>

  <span class="flex-1 flexbox justify h-100 align" (click)="sliderService.show('add')">
    <div class="image-icon add" ></div>
  </span>

  <span  class="flex-1 flexbox justify h-100 align" (click)="sliderService.show('search')">
    <div class="image-icon search"></div>
  </span>
  

  <span routerLink="/settings" routerLinkActive="active" class="flex-1 flexbox justify h-100 align">
    <div class="image-icon settings"></div>
  </span>

  <!-- <i routerLink="/settings" routerLinkActive="active" class="material-icons-outlined">settings</i> -->
</div>