.add-component-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add-component-container .slider-header .slider-header-icon {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
}
.add-component-container .slider-header .slider-header-icon.submit-icon {
  opacity: 0.3;
}
.add-component-container .slider-header .slider-header-icon.submit-icon.enabled {
  opacity: 1;
}
.add-component-container .slider-header .slider-header-icon:last-child {
  display: flex;
  justify-content: flex-end;
}
.add-component-container ::ng-deep .mat-tab-label-container {
  background: #76757b;
}
.add-component-container ::ng-deep .mat-tab-label-container mat-ink-bar {
  height: 3px;
}
.add-component-container ::ng-deep .mat-tab-label-container .mat-tab-label {
  height: 32px  !important;
  opacity: 1 !important;
}
.add-component-container ::ng-deep .mat-tab-label-container .mat-tab-label.mat-tab-disabled {
  opacity: 0.3 !important;
}
.add-component-container ::ng-deep .mat-tab-label-container .mat-tab-label .mat-tab-label-content {
  color: white !important;
}
.add-component-container .content-container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  overflow: auto;
}
.add-component-container .content-container.recurring .recurring-info-text {
  margin-top: 12px;
  opacity: 0.8;
  font-size: 0.9em;
}
.add-component-container .content-container .expense-form {
  display: flex;
  flex-wrap: wrap;
}
.add-component-container .content-container .expense-form mat-form-field {
  flex: auto;
}
.add-component-container .content-container .expense-form mat-form-field.amount-input {
  width: 70px;
  margin-right: 16px;
}
::ng-deep .tag-selection {
  width: 100%;
}
::ng-deep .tag-selection .selected-tags {
  display: flex;
}
::ng-deep .tag-selection .selected-tags .selected-tag-item {
  font-size: 0.6em;
  padding: 4px 8px;
  border: 1px solid #444;
  margin-right: 12px;
  display: flex;
  align-items: center;
}
::ng-deep .tag-selection .selected-tags .selected-tag-item .label {
  margin-right: 4px;
}
::ng-deep .tag-selection .selected-tags .selected-tag-item i {
  font-size: 16px;
}
::ng-deep .tag-selection mat-form-field {
  width: 100%;
}
::ng-deep .tag-selection .mat-form-field-flex {
  padding-top: 0 !important;
}
::ng-deep .mat-form-field-infix {
  border-top: 0px !important;
}
