@import "../../../variables";


.add-component-container {
    display       : flex;
    flex-direction: column;  
    width: 100%;
    
    .slider-header {
        .slider-header-icon {
            flex       : 1;
            height     : 40px;
            display    : flex;
            align-items: center;

            &.submit-icon{
                opacity: 0.3;
                &.enabled{
                    opacity: 1;
                }
            }

            &:last-child {
                display        : flex;
                justify-content: flex-end;
            }
        }
    }

    ::ng-deep{
        .mat-tab-label-container{
            background: @app-header-color;

            mat-ink-bar{
                height: 3px;
            }

            .mat-tab-label{
                height: 32px  !important;
                opacity: 1 !important;

                .mat-tab-label-content{
                    color: white !important;
                }
            }

        }
    }

    .content-container {
        display       : flex;
        flex-direction: column;
        padding       : 0 16px;
        overflow      : auto;

        &.recurring{
            .recurring-info-text{
                margin-top: 12px;
                opacity: 0.8;
                font-size: 0.9em;
            }
        }

        .expense-form {
            display  : flex;
            flex-wrap: wrap;

            mat-form-field {
                flex: auto;

                &.amount-input {
                    width       : 70px;
                    margin-right: 16px;
                }
            }


        }

    }
}