.add-component-container {
    display       : flex;
    flex-direction: column;

    ::ng-deep{
        .group-input-field{
            text-transform: capitalize;
        }
    }    
    
    .slider-header {
        .slider-header-icon {
            flex       : 1;
            height     : 40px;
            display    : flex;
            align-items: center;

            &.submit-icon{
                &.disabled{
                    opacity: 0.3;
                }
            }

            &:last-child {
                display        : flex;
                justify-content: flex-end;
            }
        }
    }

    .content-container {
        display       : flex;
        flex-direction: column;
        padding       : 0 16px;
        overflow      : auto;

        .expense-form {
            display  : flex;
            flex-wrap: wrap;

            mat-form-field {
                flex: auto;

                &.amount-input {
                    width       : 70px;
                    margin-right: 16px;
                }
            }


        }

    }
}